*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
  margin: 0% auto;
  width:100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #c7b4b4;

}
nav ul li:hover > a{
    color: red;
}
i{
    margin-right:5px;
}
nav h1{
    color: rgb(46, 49, 44);
    font-size: 45px;
    font-weight:bolder;
    margin-left: 20px;
   
}
header nav h1 span{
    color: rgb(228, 33, 33);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style-type: none;
    
    align-items: center;
}
header nav ul li{
    margin-right: 20px;
    font-size: 25px;

}
header nav ul li a{
    text-decoration: none;
}
 button,.btn{
    background-color: aquamarine;
    font-weight: 700;
    font-size: 21px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}
.btn:hover{
    background-color: bisque;
    color: rgb(224, 135, 0);
    border:1px solid green;
}
header nav ul li button:hover{
    background-color: rgb(219, 107, 2);
    color: aliceblue;
  
}
.banner{
   
    padding:60px 25px 0px;
    align-items: center;
    width:100%;
    display:flex;
    
}
.banner .banner-left h2,h1,p{
    margin-bottom:25px;
}
.banner h2{
    color: rgb(22, 73, 56);
}
.banner .banner-left .btn{
    margin-right: 10px;
}
.banner img{
    width: 40%;
}
,banner h2{
    font-size: 40px;
}
.banner h1{
    font-size: 50px;
}
/*main section is starting*/
.about{
    text-align:center;
    justify-content:center;
    align-items: center;
    margin:20px 50px;
    padding:40px;
    background-color: antiquewhite;
}
.about h1,p{
    margin-bottom:20px;
}
.about .abfoot{
    display: flex;
    justify-content: space-around;
}
.abfoot .f1,.f2,.f3,.f4{
      width:20%;
      
      justify-content: center;
      align-items: center;
      text-align: center;
}
.f1:hover{
   border:2px solid grey;
   border-radius:5px;
   box-shadow:4px 4px 5px white,-4px -4px 5px white;
  
}
.f2:hover{
   border:2px solid grey;
   border-radius:5px;
   box-shadow:4px 4px 5px white,-4px -4px 5px white;
}
.f3:hover{
   border:2px solid grey;
   border-radius:5px;
   box-shadow:4px 4px 5px white,-4px -4px 5px white;
}
.f4:hover{
   border:2px solid grey;
   border-radius:5px;
   box-shadow:4px 4px 5px white,-4px -4px 5px white;
}
main .work{
    text-align: center;
    margin:20px 40px;
    padding:40px 60px;
}
.skill{
     display: flex;
     justify-content: space-around;
     margin:0px auto;
     text-align: center;
     
}
.skill .prg{
    width: 20%;
    text-align: center;
    padding:2%;
    
    margin-left:20px;
    margin-right: 20px;
    
    border-radius:10px;
}
.skill .prg:hover{
    box-shadow:2px 2px 5px black,-2px -2px 5px black;
}
.skill .prg h3{
    margin:10px 0px;
}
.skill .prg p{
    text-align: justify;
}

.info{
    margin:70px 30px 0px;
    box-sizing: border-box;
    text-align: center;
}
.info h1{
    font-size:50px;
    margin-bottom:30px;
}
.info .infoa{
    
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.info .infoa .infoa1{
    box-shadow:3px 3px 5px grey,-3px -3px 5px grey;
    width:50%;
    padding:8%;
    margin:10px 15px 5px;
    text-align: left;
    border-radius:10px;
    box-sizing: border-box;
}
.info .infoa .infoa1 h2{
    margin: 15px;
}
.info .infoa .infoa1 .dv h3,h4{
    margin: 5px;
}
.info .infoa .infoa1 .dv{
    margin-bottom:40px;
    border-bottom:1px solid black;
    padding:5px;
}
.info .infoa .infoa1 .dv:hover{
    box-shadow:2px 2px 5px grey,-2px -2px 5px grey;
    border-radius:12px;
    
}
footer{
    display: flex;
    background-color: rgb(218, 153, 130);
    padding: 20px;
    justify-content: space-around;
}
footer img{
    border-radius:50%;
    margin:20px;
}
footer .fleft{
    width:50%;
}
footer img:hover{
    border:2px solid grey;
    box-shadow:2px 2px 5px rgb(189, 156, 156),-2px -2px 5px rgb(179, 161, 161);   
}
footer input{
    border:0;
    border-radius: 8px;
    padding: 5px;
}
footer textarea{
    border: 0;
    border-radius: 5px;
    padding: 5px;
}
footer input:hover{
    box-shadow:4px 4px 5px grey,-4px -4px 5px grey;
}
footer textarea:hover{
    box-shadow:4px 4px 5px grey,-4px -4px 5px grey;
}
@media screen and (max-width:576px) {
    
    nav h1{
        color: rgb(46, 49, 44);
        font-size: 30px;
        font-weight:bolder;
        margin-left: 10px;
       
    }
    .btn{
        margin-bottom: 5px;
    }
    .asd{
        margin-left:15px;
        border-radius:50%;
        border:5px solid green;
    }
    
    header nav ul li{
        margin-right: 15px;
        font-size: 15px;
    
    }
    .about{
        text-align:center;
        justify-content:center;
        align-items: center;
        margin:10px;
        padding:10px;
        background-color: antiquewhite;
    }
    .about .abfoot{
       flex-direction: column;
    }
    .abfoot .f1,.f2,.f3,.f4{
          width:100%;
          justify-content: center;
          align-items: center;
          text-align: center;
    }
  

    main .work{
        text-align: center;
        margin:10px;
        padding:10px;
    }

    .skill{
       flex-direction: column;
        margin:0px auto;
        text-align: center;
        
   }
   .skill .prg{
       width: 100%;
       text-align: center;
       padding:2%;
       
       margin-left:5px;
       margin-right: 5px;
       
       border-radius:10px;
   }
   .skill .prg:hover{
       box-shadow:2px 2px 5px black,-2px -2px 5px black;
   }
   .skill .prg h3{
       margin:10px 0px;
   }
   .skill .prg p{
       text-align: justify;
   }

    .info{
        margin:10px 5px 2px;
        box-sizing: border-box;
        text-align: center;
    }
    .info h1{
        font-size:30px;
        margin-bottom:15px;
    }
    .info .infoa{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .info .infoa .infoa1{
        box-shadow:3px 3px 5px grey,-3px -3px 5px grey;
        width:100%;
        padding:8%;
        margin:5px;
        text-align: left;
        border-radius:10px;
        box-sizing: border-box;
    }

    footer{
    flex-direction: column;
    background-color: rgb(218, 153, 130);
    padding:5px;
    
}
footer img{
    border-radius:50%;
    margin:10px;
}
footer .fleft{
    width:100%;
}
footer img:hover{
    border:2px solid grey;
    box-shadow:2px 2px 5px rgb(189, 156, 156),-2px -2px 5px rgb(179, 161, 161);   
}
footer input{
    border:0;
    border-radius: 8px;
    padding: 5px;
}
footer textarea{
    border: 0;
    border-radius: 5px;
    padding: 5px;
}
footer input:hover{
    box-shadow:4px 4px 5px grey,-4px -4px 5px grey;
}
footer textarea:hover{
    box-shadow:4px 4px 5px grey,-4px -4px 5px grey;
}
}